*{box-sizing: border-box;}
body{
  color: #221811;
  font-family: Arial;
  background-image: url("javajam/background.gif");
  background-color: #FCEBB6;
}
header{
  background-image: url("javajam/javajamlogo.jpg");
  background-repeat: no-repeat;
  height: 150px;
  background-color: #d2b48c;
  display: block;
}
main{
  padding-left: 0px;
  padding-right: 0px;
  min-height: 850px;
  margin-left: 200px;
  background-color: #FEf6c2;
  display: block;
}
figure{
  align: right;
  text-align: center;
}
h1{
  padding-top: 45px;
  padding-left: 220px;
  font-size: 3em;
}
h4{
  background-color: #d2b48c;
  font-size: 1.2em;
  /*padding-left: .5em;*/
  padding-bottom: .0em;
  padding-left: 3em;
  border-bottom: 0em;
  text-transform: capitalize;
  /*float: left;*/
}
#Musictop{
    padding-left: 2em;
    /*float: left;*/
}
nav{
  float: left;
  width: 200px;
  text-align: center;
  font-weight: bold;
  text-decoration: none;
  font-size: 1.5em;
  padding-top: 10px;
  display: block;
  }
  nav ul {
    list-style-type: none;
    padding-left: none;
  }
  nav a { text-decoration: none;}
  nav a:link{
    color: #fef6c2;
  }
  nav a:hover{
    color: #cc9933;
  }
  nav a:visited{
    color: #d2b48c;
}
footer{
  background-color: #d2b48c;
  font-size: .60em;
  font-style: italic;
  text-align: center;
  padding-bottom: 10px;
  border-top: 2px;
  color: 221811;
  display: block;
  /*margin-top: 20%;*/
 }
.details{
    overflow: auto;
    padding-left: 20%;
    padding-right: 20%;
    padding-bottom: 2em;
}
img{
  padding-left: 10px;
  padding-right: 10px;
 }
.wrapper{
  width: 80%;
  margin-left: auto;
  margin-right: auto;
  background-color: #231814;
  min-width: 900px;
  max-width: 1280px;
  box-shadow: 2px 2px 2px;
 }
.underImage{
  padding-left: 2em;
  padding-right: 2em;
  float: left;
  padding-bottom: 2em;
 }
.underImage2{
  float: left;
  padding-bottom: 2em;
  width: 100%
 }
#heroroad{
  background-image: url("javajam/heroroad.jpg");
  background-size: 100%;
  height:250px;
 }
#heromugs{
  background-image: url("javajam/heromugs.jpg");
  background-size: 100%;
  height:250px;
 }
#heroguitar{
  background-image: url("javajam/heroguitar.jpg");
  background-size: 100%;
  height:250px;
 }
 #herojob{
   background-image: url("javajam/herojobs.jpg");
   background-size: 100%;
   height:250px;
  }
 table{
   margin: auto;
   border: 0px;
   width: 90%;
   /*text-align: center;*/
   align: center;
   border-spacing: 0px;
 }

tr:nth-of-type(odd){
  background-color: #d2b48e;
}
 h5{
   text-align: center;
 }
form{
  padding: 2em;
  float: left;
  text-align: right;
  width: 8em;
  padding-right: 1em;
}
#mySubmit{
    margin-left: 9.5em;
}

audio{
  display: block;
  margin-top: 1em;

}
